In [16]:
import pandas as pd
from numpy import genfromtxt

In [28]:
df=pd.read_csv('~/desktop/datasource/australian_salary.csv')

In [29]:
df.head(6)

,gender_rank,occupation,gender,individuals,average_taxable_income
0,795,Abattoir process worker; Meat process worker; ...,Female,5961,36359
1,881,Abattoir process worker; Meat process worker; ...,Male,17241,40954
2,699,Aboriginal and Torres Strait Islander educatio...,Female,1386,40926
3,828,Aboriginal and Torres Strait Islander educatio...,Male,636,44077
4,641,Aboriginal and Torres Strait Islander health l...,Female,1878,43545
5,760,Aboriginal and Torres Strait Islander health l...,Male,903,47833

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2197 entries, 0 to 2196
Data columns (total 5 columns):
gender_rank               2197 non-null int64
occupation                2197 non-null object
gender                    2197 non-null object
individuals               2197 non-null int64
average_taxable_income    2197 non-null int64
dtypes: int64(3), object(2)
memory usage: 85.9+ KB

In [31]:
df.describe()

       gender_rank    individuals  average_taxable_income
count  2197.000000    2197.000000             2197.000000
mean    549.763769    4683.712790            65678.155212
std     317.205550   14591.925071            51171.452173
min       1.000000       3.000000            13307.000000
25%     275.000000     209.000000            38909.000000
50%     550.000000     798.000000            53850.000000
75%     824.000000    2960.000000            74441.000000
max    1104.000000  293738.000000           577674.000000